<div id="particles-js">
  <div class="btext">
      <h2>Capture Data</h2>

      <form>
          1.- Sales Point  <br>
          <input #data1 type="text" name="data1"><br>
      </form>
      <br>
      <form>
          2.- Dato 2: <br>
          <input type="text" name="dato2">
      </form>
      <br>
      <form>
          3.- Dato 3: <br>
          <input type="text" name="dato3">
      </form>
        
      <a class="btn" (click)="getDataService(data1.value)">Home</a>
      <div class="mapmex">
              <img src="mexico.gif" width="400" aling="center">
      </div>
  </div>
</div>

